<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Struk Pembayaran - KOPI NALA</title>
  <style>
    body {
      font-family: monospace;
      width: 300px;
      margin: 0 auto;
    }
    .center {
      text-align: center;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }
    td, th {
      font-size: 14px;
      padding: 4px 0;
    }
    .total {
      font-weight: bold;
    }
    .line {
      border-top: 1px dashed #000;
      margin: 10px 0;
    }
  </style>
</head>
<body>

  <div class="center">
    <h3>KOPI NALA</h3>
    <p>Jl. Merdeka No. 45, Sleman, Yogyakarta<br>
    Telp: (0274) 567890 | IG: @kafeNala</p>
    <p><strong>STRUK PEMBAYARAN</strong></p>
  </div>

  <p>
    Invoice: INV-20250422-0007<br>
    Tanggal: 22 April 2025 - 14:10 WIB<br>
    Meja: A07 | Tamu: 3 Orang<br>
    Kasir: Fika<br>
    Pembayaran: QRIS (LinkAja)
  </p>

  <div class="line"></div>

  <table>
    <tr><td>2x Chicken Teriyaki</td><td align="right">Rp70.000</td></tr>
    <tr><td>3x Es Matcha Latte</td><td align="right">Rp66.000</td></tr>
    <tr><td>1x French Fries</td><td align="right">Rp20.000</td></tr>
    
    <tr><td>Subtotal</td><td align="right">Rp156.000</td></tr>
    <tr><td>Pajak (10%)</td><td align="right">Rp14.040</td></tr>
    <tr><td>Biaya Layanan (5%)</td><td align="right">Rp7.020</td></tr>
    <tr class="total"><td>Total</td><td align="right">Rp161.460</td></tr>
  </table>

  <div class="line"></div>

  <p>
    Catatan: Chicken Teriyaki tanpa saus pedas<br>
    Es Matcha: less sugar<br><br>
  </p>

  <div class="center">
    <p>Terima kasih atas kunjungan Anda!<br>
    <p><small>www.kafeNala.id</small></p>
  </div>

</body>
</html>